[Unit]
Description=Sniffer Runner

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
WorkingDirectory=/home/root/[VIRTUALENV_DIR]/[REPO_DIR]/
ExecStart=/home/root/[VIRTUALENV_DIR]/bin/python  /home/root/[VIRTUALENV_DIR]/[REPO_DIR]/run.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
