[Unit]
Description=Sniffer Runner

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
WorkingDirectory=/root/WiFiSniffer/python-WiFiSniffer/
ExecStart=/root/WiFiSniffer/bin/python  /root/WiFiSniffer/python-WiFiSniffer/run.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
