[Unit]
Description=Sniffer Runner

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
WorkingDirectory=/home/root/WiFiSniffer/python-WiFiSniffer/
ExecStart=/home/root/WiFiSniffer/bin/python  /home/root/WiFiSniffer/python-WiFiSniffer/run.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
